<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>尚东华夏</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="icon" type="image/x-icon" href="./images/Favicon.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/et-line-font.css">
	<link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css">
	<link rel="stylesheet" type="text/css" href="assets/css/nivo_themes/default/default.css">
	<link rel="stylesheet" type="text/css" href="assets/css/homeStyle.css">
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.pagepiling.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="loader"></div>
	<div id="overlay-for-loader"></div>


	<div class="outer-container">
		<div id="mySidenav" class="sidenav">
			<div id='logo-container' class="hidden-xs">
				<a style="border-bottom: none;" href="../index.html">
					<img id="logo-image" src="images/logo.PNG">
				</a>
			</div>
			<div id='logo-container-small' class="hidden-sm hidden-lg hidden-md">
				<a style="border-bottom: none;" href="../index.html">
					<img id="logo-image-small" src="images/logoSmall.png">
				</a>
			</div>
		</div>


		<div id="pagepiling">
			<span id="nav-button" class="target" style="font-size:30px;cursor:pointer" onclick="openNav()">
				<span class="target" style="font-size:22px;cursor:pointer;margin-top: 10px;">
					<b>&#9776;</b>
				</span>
			</span>
			<!--@model.content.forEach(function(item){
			if (!item.videoName) {
			-->
			{{#each content}} {{#if videoName}}
			<div class="section">
				<section class="home" id="section{{@index}}">
					<div class="container">
						<div class="row">
							<div id="overlay"></div>
							<div class="col-md-12 col-sm-12 section-content">
								<h1 style="text-shadow: 0 3px 1px black;">{{title}}</h1>
								<h3 style="text-shadow: 0 3px 1px black;">{{text}}</h3>
								<a href="{{href}}" class="smoothScroll btn btn-default">{{buttonText}}</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			{{else}}
			<div class="section">
				<section class="home" id="section{{@index}}">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 section-content">
								<h1 style="text-shadow: 0 3px 1px black;">{{title}}</h1>
								<h3 style="text-shadow: 0 3px 1px black;">{{text}}</h3>
								<a href="{{href}}" class="smoothScroll btn btn-default">{{buttonText}}</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			{{/if}}{{/each}} 
		</div>

		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
		 crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		 crossorigin="anonymous"></script>
		 <script src="assets/js/index.js"></script>
		<script src="assets/js/index_v.js"></script>
	</div>
</body>

</html>