<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
    <title>尚东华夏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="keywords" content="Business Group a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <link rel="stylesheet" href="../assets/css/flexslider.css" type="text/css" media="all" />

    <!-- default css files -->
    <link rel="icon" type="image/x-icon" href="images/Favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/jportilio.min.css" />
    <!-- default css files -->

    <!--web font-->

    <!--//web font-->


</head>

<!-- Body -->

<body>
    {{#each components}} {{#if is_type2}} {{#each sections}}
    <div class="modal fade" id="myModal{{@../index}}-{{@index}}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>{{title}}</h4>
                    <img src="{{src}}" alt=" " class="img-responsive"> {{#each paragraphs}}
                    <p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{p}}</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/each}} {{/if}} {{#if is_type3}} {{#each sections}}{{#each images}}
    <div class="modal fade" id="myModal{{@../../index}}-{{@../index}}-{{@index}}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style='z-index:2000'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <img src="{{src}}" alt=" " class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    {{/each}}{{/each}}{{/if}} {{/each}}
    <div class="outer-container">
        <div id="mySidenav" class="sidenav">
            <div id='logo-container' class="hidden-xs">
                <a style="border-bottom: none;" href="../index.html">
                    <img id="logo-image" src="images/logo.PNG">
                </a>
            </div>
            <div id='logo-container-small' class="hidden-sm hidden-lg hidden-md">
                <a style="border-bottom: none;" href="../index.html">
                    <img id="logo-image-small" src="images/logoSmall.png">
                </a>
            </div>
            <a href="../index.html">首页</a>
            <a href="../about/about.html">走进尚东华夏</a>
            <a href="../about/companies.html">旗下公司</a>
            <a href="../about/platform.html">业务平台</a>
            <a href="../about/news.html">新闻中心</a>
            <a href="../about/hiring.html">人才招聘</a>
            <a href="../about/contacts.html">联系我们</a>
        </div>

        <div id="main">
            <div id="ol"></div>
            <div id="ol"></div>
            <span id="nav-button" class="target" onclick="openNav()">
                <span class="target" style="font-size:22px;cursor:pointer;margin-top: 10px;">
                    <b>&#9776;</b>
                </span>
            </span>
            <!-- banner -->
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1">
                    <li id='top-background-about' style="background: url({{bannerBackgroundImage}}) no-repeat 0px 0px;   background-size: cover;">
                        <div class="wthree-different-dot">
                            <div class="banner_text">
                                <div class="container">
                                    <h3>{{main_title}}</h3>
                                    <div class="thim-click-to-bottom">
                                        <a href="#welcome" class="scroll">
                                            <b>&#8681;</b>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            {{#each components}} {{#if is_type1}}
            <div class="about">
                <div class="container">
                    <h1 class="place-holder"></h1>
                    <h1 class="place-holder"></h1>
                    <h3 id="welcome">
                        <b>{{title}}</b>
                    </h3>
                    <div class="col-md-1 aboutleft"></div>
                    <div class="col-md-10 aboutleft">
                        {{#each paragraphs}}
                        <p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{p}}</p>
                        {{/each}}
                    </div>
                    <div class="col-md-1 aboutleft"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {{/if}} {{#if is_type2}}
            <div class="about">
                <div class="container">

                    <hr style="color: white; border: none">
                    <div class="team-row">
                        {{#each sections}}
                        <div class="col-md-4 team-grids">
                            <a class="image-link" data-toggle="modal" data-target="#myModal{{@../index}}-{{@index}}">
                                <div class="team-img">

                                    <img class="img-responsive flash" src="{{src}}" alt="">
                                </div>
                            </a>
                            <div class="team-agile">
                                <h4>{{title}}</h4>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>
            </div>
            {{/if}} {{#if is_type3}}
            <div class="about">
                <div class="container">
                    <div class="row">
                        <h3 id="welcome">
                            <b>{{title}}</b>
                            <hr>
                        </h3>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked image-display image-display-nav">
                            {{#each sections}}
                            <li class="active" data-toggle="tab" href="#section{{@../index}}-{{@index}}">
                                <a href="#">{{tab_text}}</a>
                            </li>
                            {{/each}}

                        </ul>
                    </div>
                    <div class="col-md-10 tab-content">
                        {{#each sections}}
                        <div class="row tab-pane fade {{#if @first}}in active{{/if}}" id="section{{@../index}}-{{@index}}">
                            {{#each images}}
                            <div class="col-md-4 image-display">
                                <a class="business-image" href="#" data-toggle="modal" data-target="#myModal{{@../../index}}-{{@../index}}-{{@index}}">
                                    <div class='jprt-item' data-tags='vegetable' data-content-show='new_section'>
                                        <div id='carrot_item' class='jprt-caption image-display-caption' style="height: 100%">
                                            <img src="{{src}}" alt="" />
                                            <p class="jprt-item-tags">{{image_text}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>


                </div>
            </div>
            {{/if}}{{/each}}

            <div class="about">
                <div class="container">
                    <div class="col-lg-12" style="text-align: center; ">
                        <nav aria-label="Page navigation example" style=" margin: 0 auto;">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link disabled" tabindex="-1">
                                        << 上一则新闻</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="./news2.html">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="./news2.html">下一则新闻 >></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div class="footer">
                <div class="container">
                    {{#each global.sections}}
                    <div class="col-md-4 footermiddle">
                        {{#each paragraphs}}
                        <p>{{p}}　</p>
                        {{/each}}
                    </div>
                    {{/each}}
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //footer -->

        </div>
        <!-- //copyright -->

        <!-- Default-JavaScript-File -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <script src="../../assets/js/general.js"></script>
        <!-- //here ends scrolling icon -->

        <!-- FlexSlider-JavaScript -->

        <!-- //FlexSlider-JavaScript -->
    </div>
    </div>
</body>
<!-- //Body -->

</html>